.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;
    margin: 20px -20px 0 -20px;

    .logo {
        width: 122px;
        height: 40px;
    }
    .rights {
        font-size: 24px;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .footer {
        .rights {
            font-size: 12px;
        }
    }
}
