$couleur-principale: #ff6060;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import './header.scss';
@import './banner.scss';
@import './gallery.scss';
@import './collapses.scss';
@import './footer.scss';
@import './not-found.scss';
@import './logement.scss';



body {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    max-width: 1440px;
    padding: 0 20px;
}

