@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.header nav ul {
  display: flex;
  gap: 57px;
}
.header nav a {
  text-decoration: none;
  font-weight: 500;
}
.header nav a.underline {
  text-decoration: underline;
  text-decoration-color: black;
}
.header nav a li {
  font-size: 20px;
  cursor: pointer;
  list-style: none;
  color: black;
}

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  height: 223px;
  width: 100%;
  margin: 25px 0;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .overlay p {
  color: white;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 324px);
  gap: 30px;
  padding: 30px;
  border-radius: 25px;
  justify-content: space-around;
  background-color: #f6f6f6;
}
.gallery .thumb {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 324px;
}
.gallery .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .thumb h3 {
  position: absolute;
  bottom: 0;
  left: 5%;
  font-size: 1em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  margin: 50px 0 0 0;
}
.footer .logo {
  width: 122px;
  height: auto;
}
.footer .rights {
  font-size: 24px;
  color: white;
  text-align: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
}
.error-message .error {
  font-weight: 700;
  font-size: 288px;
  margin: 0;
}
.error-message .message {
  font-weight: 500;
  font-size: 36px;
}
.error-message .home {
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.logement .logement-img {
  height: 415px;
  width: 1240px;
  object-fit: cover;
}
.logement .up-container {
  display: flex;
  justify-content: space-between;
  color: #ff6060;
  padding: 10px 0;
}
.logement .up-container .title-container .title {
  font-size: 36px;
  font-weight: 500;
  margin: 15px 0 0 0;
}
.logement .up-container .title-container .location {
  font-size: 18px;
  margin: 10px 0 0 0;
  color: black;
}
.logement .up-container .host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logement .up-container .host .name-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}
.logement .up-container .host .picture {
  border-radius: 50%;
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.logement .mid-container {
  display: flex;
  justify-content: space-between;
}
.logement .mid-container .rate-container .star {
  font-size: 24px;
  color: #E3E3E3;
}
.logement .mid-container .rate-container .star.full {
  color: #ff6060;
}
.logement .mid-container .tag-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
.logement .mid-container .tag-container .tag {
  background-color: #ff6060;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.logement .bottom-container .drop-down-wrapper .accordion {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.logement .bottom-container .drop-down-wrapper .accordion .item {
  width: 90%;
  font-size: 22px;
}
.logement .bottom-container .drop-down-wrapper .accordion .item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ff6060;
  color: white;
  height: 52px;
  border-radius: 10px;
}
.logement .bottom-container .drop-down-wrapper .accordion .item .title .toggle {
  cursor: pointer;
}
.logement .bottom-container .drop-down-wrapper .accordion .item .title .rotate {
  transform: rotate(0deg);
  transition: transform 0.25s ease;
}
.logement .bottom-container .drop-down-wrapper .accordion .item .title .rotate-neg {
  transform: rotate(180deg);
  transition: transform 0.25s ease;
}
.logement .bottom-container .drop-down-wrapper .accordion .item .content {
  transition: max-height 0.25s ease-out, padding 0.25s ease-out;
  padding: 0 10px;
  max-height: 0;
  color: black;
  background-color: #f6f6f6;
  overflow: hidden;
}
.logement .bottom-container .drop-down-wrapper .accordion .item .content-show {
  transition: max-height 0.25s ease-in, padding 0.25s ease-in;
  overflow: auto;
  max-height: 300px;
  color: black;
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.about .drop-down-wrapper .accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.about .drop-down-wrapper .accordion .item {
  width: 90%;
  font-size: 22px;
}
.about .drop-down-wrapper .accordion .item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ff6060;
  color: white;
  height: 52px;
  border-radius: 10px;
}
.about .drop-down-wrapper .accordion .item .title .toggle {
  cursor: pointer;
}
.about .drop-down-wrapper .accordion .item .title .rotate {
  transform: rotate(0deg);
  transition: transform 0.25s ease;
}
.about .drop-down-wrapper .accordion .item .title .rotate-neg {
  transform: rotate(180deg);
  transition: transform 0.25s ease;
}
.about .drop-down-wrapper .accordion .item .content {
  transition: max-height 0.25s ease-out, padding 0.25s ease-out;
  padding: 0 10px;
  max-height: 0;
  color: black;
  background-color: #f6f6f6;
  overflow: hidden;
}
.about .drop-down-wrapper .accordion .item .content-show {
  transition: max-height 0.25s ease-in, padding 0.25s ease-in;
  max-height: 300px;
  color: black;
  background-color: #f6f6f6;
  padding: 10px;
}

/*# sourceMappingURL=index.css.map */
