@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.header nav ul {
  display: flex;
  gap: 57px;
}
.header nav a {
  text-decoration: none;
  font-weight: 500;
}
.header nav a.underline {
  text-decoration: underline;
  text-decoration-color: black;
}
.header nav a li {
  font-size: 20px;
  cursor: pointer;
  list-style: none;
  color: black;
}

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  height: 223px;
  width: 100%;
  margin: 25px 0;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .overlay p {
  color: white;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 324px);
  gap: 30px;
  padding: 30px;
  border-radius: 25px;
  justify-content: space-around;
  background-color: #f6f6f6;
}
.gallery .thumb {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 324px;
}
.gallery .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .thumb h3 {
  position: absolute;
  bottom: 0;
  left: 5%;
  font-size: 1em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  margin: 50px 0 0 0;
}
.footer .logo {
  width: 122px;
  height: auto;
}
.footer .rights {
  font-size: 24px;
  color: white;
  text-align: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
}
.error-message .error {
  font-weight: 700;
  font-size: 288px;
  margin: 0;
}
.error-message .message {
  font-weight: 500;
  font-size: 36px;
}
.error-message .home {
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.logement img {
  height: 415px;
  width: 1240px;
  object-fit: cover;
}
.logement .title {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}
.logement .location {
  font-size: 18px;
}

.drop-down-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.drop-down-wrapper .accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.drop-down-wrapper .accordion .item {
  width: 90%;
  font-size: 22px;
}
.drop-down-wrapper .accordion .item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ff6060;
  color: white;
  height: 52px;
}
.drop-down-wrapper .accordion .item .title .toggle {
  cursor: pointer;
}
.drop-down-wrapper .accordion .item .title .rotate {
  transform: rotate(0deg);
  transition: transform 0.25s ease; /* Optionnel : ajoute une transition douce */
}
.drop-down-wrapper .accordion .item .title .rotate-neg {
  transform: rotate(180deg);
  transition: transform 0.25s ease; /* Optionnel : ajoute une transition douce */
}
.drop-down-wrapper .accordion .item .content {
  transition: max-height 0.25s ease-out, padding 0.25s ease-out; /* Transition pour la hauteur max et le padding */
  padding: 0 10px; /* Ajoutez du padding pour l'animation du contenu */
  max-height: 0;
  color: black;
  background-color: #f6f6f6;
  overflow: hidden;
}
.drop-down-wrapper .accordion .item .content-show {
  transition: max-height 0.25s ease-in, padding 0.25s ease-in; /* Transition pour la hauteur max et le padding */
  overflow: auto;
  max-height: 300px;
  color: black;
  background-color: #f6f6f6;
  padding: 10px;
}

/*# sourceMappingURL=index.css.map */
