@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$couleur-principale: #ff6060;

body {
    font-family: "Montserrat", sans-serif;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1240px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    img {
        height: 100%;
        width: auto;
    }
    nav {
        ul {
            display: flex;
            gap: 57px;
        }
        a {
            text-decoration: none;
            font-weight: 500;
            &.underline {
                text-decoration: underline;
                text-decoration-color: black;
            }
            li {
                font-size: 24px;
                cursor: pointer;
                list-style: none;
                color: black;
            }
        }
    }
}

.banner {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    height: 223px;
    width: 100%;
    margin: 25px 0;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: white;
            font-size: 48px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: 700;
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 324px);
    gap: 30px;
    padding: 30px;
    border-radius: 25px;
    justify-content: space-around;
    background-color: #f6f6f6;
    .thumb {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        height: 324px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h3 {
            position: absolute;
            bottom: 0;
            left: 5%;
            font-size: 1em;
            color: white;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;
    margin: 50px 0 0 0;
    .logo {
        width: 122px;
        height: auto;
    }
    .rights {
        font-size: 24px;
        color: white;
        text-align: center;
    }
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $couleur-principale;
    .error {
        font-weight: 700;
        font-size: 288px;
        margin: 0;
    }
    .message {
        font-weight: 500;
        font-size: 36px;
    }
    .home {
        font-weight: 500;
        font-size: 18px;
        color: black;
    }
}

.logement {
    .carousel-root{
        .logement-img {
            height: 415px;
            width: 100%;
            object-fit: cover;
        }
        .control-arrow {
            color: red;
            size: 100px;
        }
    }
    .up-container {
        display: flex;
        justify-content: space-between;
        color: $couleur-principale;
        padding: 10px 0;
        .title-container {
            .title {
                font-size: 36px;
                font-weight: 500;
                margin: 15px 0 0 0;
            }
            .location {
                font-size: 18px;
                margin: 10px 0 0 0;
                color: black;
            }
        }
        .host {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            .name-container {
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                text-align: right;
            }
            .picture {
                border-radius:50% ;
                object-fit: cover;
                width: 64px;
                height: 64px;
                
            }
        }
    }
    .mid-container {
        display: flex;
        justify-content: space-between;
        .rate-container {           
              .star {
                font-size: 24px;
                color:#E3E3E3;
              }
              
              .star.full {
                color : $couleur-principale;
              }

        }
        .tag-container {
            display: flex;
            justify-content: space-between;
            margin: 0 0 10px 0;
            .tag {
                background-color: $couleur-principale;
                border-radius: 20px;
                color: white;
                padding: 10px;
                margin: 5px;
                font-size: 14px;
                font-weight: 700;
                text-align: center;
            }
        }
        
    }
    .bottom-container {
        .collapsed {
            display: flex;
            flex-direction: row;
            align-items: start;
            .item {
                width: 50%;
            }
        }
        
    }


}



.collapsed {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .item {
            width: 90%;
            font-size: 22px;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: $couleur-principale;
                color: white;
                height: 52px;
                border-radius: 10px;
                .toggle {
                    cursor: pointer;
                }
                .rotate {
                    transform: rotate(0deg);
                    transition: transform 0.25s ease;
                }
                .rotate-neg {
                    transform: rotate(180deg);
                    transition: transform 0.25s ease;
                }
            }
            .content {
                transition:
                    max-height 0.25s ease-out,
                    padding 0.25s ease-out;
                padding: 0 10px;
                max-height: 0;
                color: black;
                background-color: #f6f6f6;
                overflow: hidden;
            }
            .content-show {
                transition:
                    max-height 0.25s ease-in,
                    padding 0.25s ease-in;
                max-height: 300px;
                color: black;
                background-color: #f6f6f6;
                padding: 20px;
                
                height: 100%;
            }
            ul {
                list-style-type: none; 
                margin: 0;
                padding: 0;
                
            }
            p {
                margin: 0;
                padding: 0;
            }
        }
}

@media only screen and (max-width: 376px) {
.header {
    img {
        width: 145;
        height: 46px;
    }
    nav {
        ul {
            gap: 26px;
        }
        a {          
            li {
                font-size: 12px;
                text-wrap: nowrap;
            }
    }
}
}

.banner {
    height: 111px;
    width: 335px;
    .overlay {
        p {
        font-size: 24px;
        padding: 15px;
        text-wrap: wrap;
    }
}
}

.gallery {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    .thumb {
        height: 255px;
        width: 335px;
    }
}

.collapsed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .item {
        width: 100%;
        font-size: 13px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: $couleur-principale;
            color: white;
            height: 30px;
            border-radius: 10px;
            img {
                height:16px;
                width: auto;
            }
        }
    }
}

.logement {
    display: flex;
    flex-direction: column;
    .carousel-root{
        .logement-img {
            height: 415px;
            width: 1240px;
            object-fit: cover;
        }
        .control-arrow {
            color: red;
            size: 100px;
        }
    }
    .up-container {
        background-color: red;
        display: flex;
        justify-content: space-between;
        color: $couleur-principale;
        padding: 10px 0;
        .title-container {
            .title {
                font-size: 36px;
                font-weight: 500;
                margin: 15px 0 0 0;
            }
            .location {
                font-size: 18px;
                margin: 10px 0 0 0;
                color: black;
            }
        }
        .host {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            .name-container {
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                text-align: right;
            }
            .picture {
                border-radius:50% ;
                object-fit: cover;
                width: 64px;
                height: 64px;
                
            }
        }
    }
    .mid-container {
        display: flex;
        justify-content: space-between;
        .rate-container {           
              .star {
                font-size: 24px;
                color:#E3E3E3;
              }
              
              .star.full {
                color : $couleur-principale;
              }

        }
        .tag-container {
            display: flex;
            justify-content: space-between;
            margin: 0 0 10px 0;
            .tag {
                background-color: $couleur-principale;
                border-radius: 20px;
                color: white;
                padding: 10px;
                margin: 5px;
                font-size: 14px;
                font-weight: 700;
                text-align: center;
            }
        }
        
    }
    .bottom-container {
        .collapsed {
            display: flex;
            flex-direction: row;
            align-items: start;
            .item {
                width: 50%;
            }
        }
        
    }


}

}